.profile-container {
    min-height: 100vh;
    padding: 10px; /* Add some padding for spacing */
  }
  
  .profile-picture {
    width: 100%;
    max-width: 250px;
    height: auto;
    object-fit: cover;
  }
  